/* Tablet style - between 768px to 1024px */

#logoName {
  height: 400px;
  width: 100%;
  background-color: #005bdb;
  background-image: url("https://www.transparenttextures.com/patterns/gray-floral.png");
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content:center;  
  margin-top: 120px; 
}

.firstName {
  font-family:Source Sans Pro;
  font-weight: 600;
  color: white;
}

.lastName {
  font-family: Source Sans Pro;
  font-weight: 300;
  color: White;
}

/* Desktop style - 1024px and above */
@media only screen and (min-width: 1024px) {
  #logoName {
    width: 33%;
    margin-top: 150px; 
    margin-left: 2em;
    position: fixed;
  }
}